[Unit]
Description=vhusbd startup script
BindsTo=sys-subsystem-net-devices-eth0.device
After=sys-subsystem-net-devices-eth0.device

[Service]
Type=simple
ExecStart=/opt/vhusbd/vhusbd
Restart=on-failure

[Install]
WantedBy=multi-user.target
