[Unit]
Description=GStreamer Dynamic Port Stream for /dev/%i

ConditionPathExists=!/opt/gstreamer/settings/no-camera-autostart
# Physical Logic:
# BindsTo ensures that if dev-%i.device disappears, this service STOPS.
# It also prevents Restart=on-failure from looping when the hardware is gone.
BindsTo=dev-%i.device
After=dev-%i.device

[Service]
Type=simple

# Software Logic:
# This cleans up "ghost" processes from previous failed runs
ExecStartPre=-/usr/bin/fuser -k /dev/%i
# The "Wait for Initialization" on reconnect:
# 2 seconds is usually enough for the kernel to finish exposing the V4L2 nodes
ExecStartPre=/usr/bin/sleep 1

ExecStart=/opt/gstreamer/runner %i

# Retry Logic: 
# Retries if GStreamer crashes (Software/Bus error), 
# but ONLY if the device still exists (due to BindsTo).
Restart=on-failure
RestartSec=3
StartLimitIntervalSec=0


[Install]
WantedBy=multi-user.targets
