# Virtual environment
models/# pixi environments
.pixi/*
!.pixi/config.toml
pixi.lock


# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.idea/

# Build files
build/
dist/

# Transient runtime files
programmer/
settings.ini
*.elf
models/
vhusb/
.tmp/
